
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <a class="getstarted scrollto active" href="@Url.Action("GioHang","GioHang")">
     <img src="~/Content/icons/giohanglogo2.png" alt="Alternate Text" style="width:4%; height:4%"/> <p style="color:red">@ViewBag.Tongsoluongsanpham</p>
    </a>
</body>
</html>
